<html>
<head>
    <title> Galvanize Reads</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<header>
    <div class="ui fixed inverted menu">
        <div class="ui container">   
        <img class="ui small left floated image" id="header-image"  src= "https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/uh59Wh0/books-office-animation-with-transparent-background_4y8mgdu__F0004.png"> 
            <div class="header item" class="code icon" id="g-reads-header">Galvanize Reads</div>
        </div>
    </div>
</header>


