<% include ./partials/header %>

<body>
<br>
<br>
<br>
<br> 

    <div  id="home-container">
        <a href="/authors">
            <div class="splash-image-container">
            <img class = "splash-image" src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/kyle_simpson.jpg">
                <div  class="ui huge header" id="splash-header">Authors</div>
            </div>
        </a>
        <a href="/books">
            <div class="splash-image-container">
                <img class="splash-image" src="https://images-na.ssl-images-amazon.com/images/I/B172ZcXnYDS._SL250_FMpng_.png">
                <div  class="ui huge header" id="splash-header">Books</div>
            </div>    
        </a>
    </div>
</body>

<% include ./partials/footer %>
