body {
    margin-left: 40px;
    margin-right: 40px;
}

footer {
    bottom: 0;
}

#g-reads-header {
    color: white;
    font-size: 15pt;
}
#header-image {
    height: 70px;
    width: 90px;
    margin: 0;
}
.splash-image-container {
    display: flex;
    height: 500px;
    width: 500px;
    flex-flow: column nowrap;
    border: solid black;
    justify-content: center;
    align-items: center;
}

#splash-header {
    justify-self: center;
}

#home-container {
    display: flex;
    justify-content: space-around;
}

.splash-image {
    justify-content: center;
    height: 400px;
    width: 400px;
}

.book-info {
    display: flex;
    border: solid black 1px;
    flex-flow: column wrap;
    padding-left: 20px;
    padding-right: 50px;
}

.book-card {
    display: flex;
    margin: 8px;
    box-shadow: 2px 2px 2px 1px gray;
}

.book-card-image {
    height: 200px;
    width: 200px;
}

.book-image {
    display: flex;
    border: solid black 1px;
    /* width: 250px; */
    justify-content: center;
    align-items: center;
}
h4 {
    margin: 0px;
}

.authors-nav-container {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    border: solid black 2px;
    width: 250px;
}

#authors-nav {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.nav-image {
    height: 70px;
    width: 70px;
    align-self: center;
}
.nav-title {
    font-size: 12pt;
    align-self: center;
}
